{% extends 'base.html' %}



{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
            </header>
            <p style="background-color: aliceblue ; color: black;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore architecto amet delectus illo? Laborum aut ipsam fugiat, iste eum id illo obcaecati veritatis possimus ab ad sit adipisci nostrum molestias!
                Eos voluptate mollitia, culpa nihil ipsam aut vero maxime at! Incidunt natus, rem ex nobis alias, libero tempore ad, totam accusamus cumque nesciunt! Nulla doloremque, odio unde quas maxime quis.
                Cupiditate vel quas eum sit explicabo aspernatur non, totam nostrum. Quasi, excepturi ratione vitae placeat quas dolorum temporibus velit perferendis voluptas nisi sed voluptatibus, autem adipisci doloribus? Exercitationem, dolor ullam.</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>             
            
{% endblock %}